{% block articulos %}
    <ul class='articles'>
        {% for article in articles %}
            <li class="article">

                <div class="article-img">
                    <img class="imagen" src="{{article.image.url}}"/>
                    <div class="article-content">
                        <span>{{article.title}}</span>
                        {% for category in article.categories.all %}
                            <ul class="categories">
                                <li><a href={% url 'categoria' category.id %}>- {{category.name}}</a></li>
                            </ul>
                        {% endfor %}
                        <p>{{article.content|safe}}</p>
                        {% if article.public %}
                            <span>Publicado por {{article.user.first_name}} {{article.user.last_name}}</span>
                        {% else %}
                            <span>No publicado por {{article.user.first_name}} {{article.user.last_name}}</span>
                        {% endif %}
                        <p>
                        <a class="btn delete" href="/deleteArticulo/{{article.id}}">Eliminar</a>
                        <a class="btn edit" href="/articulo/{{article.id}}">Editar</a>
                        </p>
                    </div>
                </div>
            </li>   
        {% endfor %}
    </ul>
{% endblock%}   